.container {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
}

.toplef {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.topmid {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.toprig {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.midlef {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.midmid {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

.midrig {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}

.midrig>p {
    margin: 0 0 20px 0;
}

.botlef {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.botmid {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 4 / 5;
    grid-column: 2 / 4;
}

.botrig {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

body {
    text-align: center;
    font-family: "Inconsolata";
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

input[type=text] {
    margin-bottom: 10px;
    width: 80%;
    border-radius: 3px 0 0 3px;
    border: 1px solid;
    border-right: none;
    font-family: "Inconsolata";
    font-size: 16px;
}

input[type=text]:focus {
    outline-width: 0;
}

input[type=submit] {
    width: 20%;
    border-radius: 0 3px 3px 0;
    border: 1px solid;
    background-color: #DDD;
    font-family: "Inconsolata";
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #BBB;
}

input[type=submit]:active {
    background-color: #999;
}

.commentsection {
    height: 377px;
    overflow: auto;
}

.comment {
    padding: 5px;
    background-color: #EEE;
    text-align: left;
    border-radius: 5px;
}

.comment:not(:last-child) {
    margin-bottom: 5px;
}

::placeholder {
    color: #BBB;
}

form {
    margin: 0 0 0 0;
}

.midlef-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #c8102e;
    color: white;
    font-weight: bold;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.midlef-item>img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #95080b;
}

.midlef-item:hover {
    background-color: #b70A1d;
}

.midlef-item:active {
    background-color: #a6090c;
}