<html>

<head>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="shortcut icon" href="static/img/uhpage.ico">
    <title>Wilfredo J. Molina, Ph.D.</title>
</head>

<body>
    <div class="container">
        <div class="toplef"><img src="static/img/logo.png"></div>
        <div class="topmid"><img src="static/img/topcenimg.jpg"></div>
        <div class="toprig"><img src="static/img/profimg.jpg"></div>
        <div class="midlef">
            <div onclick="location.href='http://wjm.pythonanywhere.com/wallpaper/gomoku'" onselectstart="return false"
                class="midlef-item">
                <img src="static/img/gomoku.ico" />Play My Gomoku AI
            </div>
            <div onclick="location.href='https://www.linkedin.com/in/wjmolina'" onselectstart="return false"
                class="midlef-item">
                <img src="static/img/linkedin.ico" />LinkedIn
            </div>
            <div onclick="location.href='https://www.math.uh.edu/~dlabate'" onselectstart="return false"
                class="midlef-item">
                <img src="static/img/logo.png" />My Advisor
            </div>
        </div>
        <div class="midmid">
            <form method="post">
                <input id="hidden" type="hidden" name="ip" value="error" />
                <input id="text" autocomplete="off" autofocus name="body" type="text"
                    placeholder="Leave an anonymous comment." onkeyup="stoppedTyping()"><input id="button" type="submit"
                    value="Submit" disabled>
            </form>
            <div class="commentsection">
                {% for comment in comments %}
                <div class="comment">{{ comment.body }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="midrig">
            <p>Wilfredo J. Molina, Ph.D.</p>
            <p>Software Development Engineer</p>
            <p>The Capital Group Companies, Inc.</p>
            <p>Los Angeles, California</p>
            <p>Former instructor of abstract algebra and multivariable calculus interested in harmonic analysis and
                machine
                learning and seeking to accelerate our plane of understanding of the reconstruction of algebraic curves
                from noisy downsamplings.</p>
        </div>
        <div class="botlef"><img src="static/img/usflag.jpg"></div>
        <div class="botmid"><img src="static/img/la.jpg"></div>
        <div class="botrig"><img src="static/img/venflag.jpg"></div>
    </div>
    <p>Made by Yours Truly ❤️</p>
    <script src="static/js/jquery.js"></script>
    <script>
        let ip = "error"
        $.get("https://api.ipify.org?format=json", function (response) {
            ip = response.ip
        }).done(function () {
            $("#hidden").val(ip)
            $.post("save_user", { ip: ip })
        })
        function stoppedTyping() {
            $("#button").prop("disabled", $("#text").val().length <= 0)
        }
    </script>
</body>

</html>